#contact_form {
    background: var(--bg-color);
}
#contact_form label input, #contact_form label textarea {
    background-color: #f2f3f3;
}
.form-group button {
    color: var(--bg-color);
    background-color: var(--font-color);
}
