.page__footer {
    margin-top: 0;
    background-color: var(--bg-color);
    color: var(--font-color);
}
.page__footer ul.social-icons {
    float: right;
}
.footer-pages li {
    font-size: 0.7em;
}
.footer-pages li a:hover {
    text-decoration: underline;
}
/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.page__footer-follow li + li:before {
    content: "";
    padding-right: 0;
}
ul.footer-pages-list a.page-link {
    padding: 5px;
}
ul.footer-pages-list a.page-link:hover {
    background-color: var(--font-color);
    color: var(--bg-color)!important;
    text-decoration: none;
    border-radius: 0.4em;
}
.page__footer-follow a {
    padding-right: 0px;
}
.page__footer-copyright {
    text-align: center;
}
@media (max-width: 730px) {
    footer {
        text-align: center;
    }
}
@media (min-width: 740px) {
    div.footer-pages {
        display: inline-block;
    }
    div.social-icons {
        float: right;
    }
}
