@media (min-width: 80em) {
    .archive {
        width: calc(100% - 200px);
        padding-right: 200px;
    }
}
.archive__subtitle {
    border-bottom: 1px solid #111;
}
.archive__item-excerpt {
    margin-top: 0.5em;
}
p {
    margin-bottom: 0.5em;
}
.masthead {
    border-bottom: none;
}