// CUSTOM STYLES
:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
}
[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #fff;
    --bg-color: #161625;
    --heading-color: #818cab;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
body, html {
    scroll-behavior: smooth;
    height: 100vh;
}
html {
    background-color: var(--bg-color);
}
body {
    margin: 0;
    font: 19px/23px Montserrat, "Montserrat", sans-serif;
    background-color: var(--bg-color);
    color: var(--font-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@media (max-width: 1380px) {
    body, html {
        font-size: 16px;
        line-height: normal;
    }
}
* {
    font-family: 'Montserrat';
}
a.site-title {
    font-family: 'Agustina';
}
a {
    color: var(--font-color)!important;
    font-weight: 800;
}
.author__urls-wrapper button {
    display: block;
    border: 2px solid;
}
.author__urls {
    display: none;
}
.sidebar {
    opacity: 1;
}
@media (max-width: 50em) {
    #separator {
        display: none;
    }
}
::selection {
    color: var(--bg-color);
    background: var(--font-color);
}

@import "home";
@import "article";
@import "tag";
@import "post";
@import "footer";
@import "contact";
@import "theme";
@import "comments";