// TAGS

a.tag {
    display: inline;
    margin-right: 5px;
    font-weight: 600;
    font-size: 16px;
    color: #707070;
    background-color: #f5f5f6;
    padding: 5px;
    text-decoration: none;
}
a.tag:hover {
    color: #000;
    text-decoration: underline;
}
