// TAGS

a.tag {
    display: inline;
    margin-right: 5px;
    font-weight: 600;
    font-size: 0.65rem;
    color: var(--font-color);
    padding: 5px;
    text-decoration: none;
}
.tag-list a:hover, a.tag:hover {
    color: var(--bg-color)!important;
    background-color: var(--font-color);
    border-radius: 0.4em;
}
@media (hover:none), (hover:on-demand) {
    .tag-list a, a.tag, a.page-link {
        color: var(--bg-color)!important;
        background-color: var(--font-color);
        border-radius: 0.4em;
    }
}