<blockquote>
    If you liked the article, consider sharing it, so more people can benefit from it! Also, feel free to mention
    <a href="https://twitter.com/adisakshya" rel="nofollow noopener noreferrer">me</a>
    on Twitter with your opinions.
    <br/><br/>
    Found a mistake? Feel free to report it at
    <a href="https://github.com/adisakshya/weblog/issues" rel="nofollow noopener noreferrer">GitHub issues</a>
    or fix it using a 
    <a href="https://docs.github.com/en/github/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/about-pull-requests" rel="nofollow noopener noreferrer">PR</a>
    at
    <a href="https://github.com/adisakshya/weblog" rel="nofollow noopener noreferrer">adisakshya/weblog</a>.
</blockquote>