{% assign tags_max = 0 %}
{% for tag in site.tags %}
  {% if tag[1].size > tags_max %}
    {% assign tags_max = tag[1].size %}
  {% endif %}
{% endfor %}

{% if tags_max >= 1 %}
  <div class="home-topics-list">
    {% for i in (1..tags_max) reversed %}
      {% for tag in site.tags %}
        {% if tag[1].size == i %}
          <a href="{{ site.baseurl }}/tags/{{ tag[0] | slugify }}" class="home-topics-item">
            <span class="home-topics-item__name">{{ tag[0] }}</span>
            <span class="home-topics-item__count">{{ i }}</span>
          </a>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
{% endif %}
