{% if page.teaser %}
  {% capture teaser %}{{ page.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item cards tag_head" itemscope itemtype="https://schema.org/CreativeWork">
    <div class="card">
      TAG
      <h2 class="archive__item-title no_toc" itemprop="headline">
        {{ page.title }}
      </h2>
      {% if page.excerpt %}
        <p class="archive__item-excerpt" itemprop="description">
          {{ page.excerpt | markdownify | strip_html | truncate: 160 }}
        </p>
      {% endif %}
    </div>
    {% if teaser %}
      <div class="archive__item-teaser card">
        <img src="{{ teaser | relative_url }}" alt="">
      </div>
    {% endif %}
  </article>
</div>

<div class="separator">Articles associated with this tag</div>

{%- for post in site.tags[include.taxonomy] -%}
  {%- unless post.hidden -%}
    {% include archive-single.html %}
  {%- endunless -%}
{%- endfor -%}
