{% assign seriesarray = '|' | split : '|' %}
{% for post in site.posts  %}
	{% if post.series %}
    {% assign seriesarray = seriesarray | push: post.series %}
  {% endif %}
{% endfor %}

<h3 class="archive__subtitle"><mark>Browse by series</mark></h3>

{% assign seriesarray = seriesarray | uniq %}

<ul class="taxonomy__index">
  {% for series in seriesarray | uniq %}
      <li>
        <a href="{{ site.baseurl }}/series/{{ series }}">
          <strong>{{ series }}</strong>
        </a>
      </li>
  {% endfor %}
</ul>
