---
layout: archive
---

{{ content }}

{% include intro.html %}
{% include tag-list.html %}
{% include series-list.html %}

<h3 class="archive__subtitle"><mark>{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</mark></h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}

<!-- SAYING SCRIPT -->
<script type="text/javascript" src="/weblog/assets/js/sayings.js" defer></script>